/* for all pages */

* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    background: #141D29;
    text-align: center;
    color: white;
}

/* user home */

nav {
    background: #1B1D1E;
}

.user h1 {
    padding-top: 50px
}

.user h4 {
    padding-top: 30px;
}

.user input {
    margin: 10px 0;
    padding: 5px 15px;
}